.side-bar-lable-container {
    width: 100%;
    padding-left: 8%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.two-range-slider-container {
    padding: 0.2vw;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-content: center;
}

.side-bar-lable-icon {
    margin-right: 8%;
}

.two-range-slider {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.two-range-slider-input {
    /* for  Chrome, Safari, Edge, Opera 
    -webkit-appearance: none;
    margin: 0; */

    /* for firefox */
    -moz-appearance: textfield;
}
